<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>Hi, I'm Adrian Muresan</h1>
    <p>Welcome to my blog!</p>
    <p>This is a blog app on Rails made as a demo following Mackenzie Child. Cool stuff, right! </p>
    <p>You can follow me on Twitter <a href="https://twitter.com/adriansmuresan">@adriansmuresan</a> or follow my repos on Github <a href="https://github.com/adriansmuresan">adriansmuresan</a> as I learn new and exciting new languages and programing frameworks! </p>
  </div>
</div>
